$c-primary: #07C88E;
$c-secondary: rgba(62, 80, 114, 0.08);
$c-red: #FF4545;

$c-base-100: #000B26;
$c-base-88: rgba($c-base-100, 0.88);
$c-base-80: rgba($c-base-100, 0.8);
$c-base-72: rgba($c-base-100, 0.72);
$c-base-64: rgba($c-base-100, 0.64);
$c-base-56: rgba($c-base-100, 0.56);
$c-base-48: rgba($c-base-100, 0.48);
$c-base-40: rgba($c-base-100, 0.40);
$c-base-12: rgba($c-base-100, 0.12);
