<div class='market-card'>
  <div class='market-card__container'>

    <div class='market-card__image'>
      <img src="{{image}}" alt='product'/>
      <div class='market-card__badge'>
        {{brand}}
      </div>
    </div>

    <div class='market-card__description'>
      <p class='market-card__name'>{{name}}</p>
      <p class='market-card__category'>{{category}}</p>
      <p class='market-card__price'>
        <img src="/assets/icons/eco-dollar.svg" alt='eco-dollar'/>
        {{price}}
      </p>
    </div>
  </div>
</div>
