<div class='footer'>
  <div class='footer__container container'>
    <ul class='footer__contacts'>
      <li class='footer__item'>
        <a href='mailto:info@ecorus.ru' class='footer__link'>
          <img src="../../../assets/icons/mail.svg" alt="mail" />
          info@ecorus.ru
        </a>
      </li>
      <li class='footer__item'>
        <a href='tel:+78008808888' class='footer__link'>
          <img src="../../../assets/icons/call.svg" alt="call" />
          +7 (800) 880-88-88
        </a>
      </li>
    </ul>
  </div>
</div>
