:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: rgba(0, 11, 38, 0.8);
  background: rgba(62, 80, 114, 0.08);
  border-radius: 61px;
  white-space: nowrap;
}

:host(.active) {
  background: rgba(6, 14, 33, 0.88);
  color: #FFFFFF;
}
