<div class="slider">
  <div class="slider__container">
    <swiper [config]="config">
      <ng-container *ngFor="let slide of slides">
        <ng-template swiperSlide>
          <app-slide
            [theme]="slide.theme"
            [title]="slide.title"
            [buttonValue]="slide.buttonValue"
            [buttonTo]="slide.buttonTo"
            [image]="slide.image"
          ><span subtitle [innerHTML]="slide.subtitle | safeHtml"></span></app-slide>
        </ng-template>
      </ng-container>
    </swiper>
  </div>
</div>
