@import "mixins";

.modal-authentication {
  position: relative;
  z-index: 10000;

  &__container {
    width: 480px;
    padding: 48px;
    background-color: white;
    border-radius: 24px;
    overflow: hidden;

    @media (max-width: 769px) {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0;
    }

    @media (max-width: 500px) {
      padding: 48px 16px;
    }
  }

  &__header {
    display: flex;
    align-items: center;

    @media (max-width: 769px) {
      flex: 0 1 auto;
    }
  }

  &__title {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: $c-base-88;
  }

  &__close {
    background-color: white;
    cursor: pointer;
  }

  &__body {
    margin: 48px 0 0 0;

    @media (max-width: 769px) {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__input {
    &:not(:first-child) {
      margin: 24px 0 0 0;
    }
  }

  &__alert {
    display: block;
    margin: 8px 0 0 16px;
    font-size: 14px;
    line-height: 20px;
    color: $c-red;
  }

  &__login-button {
    margin: 32px 0 0 0;
  }

  &__links {
    margin: 16px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 769px) {
      display: none;
    }
  }

  &__login-button-for-partners {
    margin: 32px 0 0 0;

    @media (max-width: 769px) {
      display: none;
    }
  }
}
