.modal-enter-code {
  &__container {
    width: 480px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
    overflow: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: rgba(0, 11, 38, 0.88);
  }

  &__close {
    background-color:#FFFFFF;
    cursor: pointer;
  }

  &__body {
    margin: 48px 0 0 0;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 11, 38, 0.64);
  }

  &__phone-number {
    color: #07C88E;
  }

  &__input {
    margin: 16px 0 0 0;
  }

  &__alert {
    display: block;
    margin: 8px 0 0 16px;
    font-size: 14px;
    line-height: 20px;
    color: #FF4545;
  }

  &__send-button {
    margin: 32px 0 0 0;
  }

  &__link {
    margin: 16px 0 0 0;
  }

  &__login-button-for-partners {
    margin: 32px 0 0 0;
  }
}
